*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
@font-face {
    font-family: "Corbel";
    src: url("./fonts/corbel");
    }
body{
    margin: 15px;
    background-color: rgba(211, 211, 211, 0.979);
}
span{
    position: absolute;
    bottom: 0px;
}
.menu-bar{
    display: flex;
    justify-content:center;
    border-bottom: 1px solid lightgrey;
    }
.navbar-light .navbar-nav .nav-link {
    font-family: Corbel, Arial, Helvetica, sans-serif;
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:#A73912;
    border-bottom: 1px solid grey;
}
#history{
    font-family: Corbel, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content:left;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 99% 20%;
    background-image: url(./images/Chaise-plastique_orange.jpg);
    padding: 20px;
}
/******* sur écran réduit ************/
.menu-bar .menu-bar-toggler{
    padding-right: 20px;
    outline: none;
    border:none;
}
.navbar .fa{
    color:#A73912;
    font-size: 26px;
}
@media only screen and (max-width:1000px){
    body{
        margin:15px;
    }
    .right-bar{
       margin-left: auto;
    }
    .navbar-light .navbar-toggler:hover{
        color:#A73912;
    }
}
